{% extends 'base.html' %}

{% block content %}

  <h2>Create Author Profile</h2>
  <h3>Welcome {{ user.username }} 👩‍💻</h3>
  <p>Complete your profile by uploading a photo and telling other budding authors a little bit more about yourself!</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" name="confirm">Confirm Profile Info</button>
    </br>
  </br>
  <button type="submit" name="skip">Skip</button>
  </form>

{% endblock %}