{% extends 'base.html' %}

{% block content %}

<h2>Welcome to {{ customuser.username }}s Page!</h2> 

<div class="user-add-story">
    You can write new stories to be shared with other users here:
    <button><a href="{% url 'news:newStory' %}">!! Write New Story !!</a></button>
</div>

<div id="stories">
  {% if customuser.newsstory_set.all %} 
    {% for story in customuser.newsstory_set.all %} 
      {% include "news/storyCard.html" with story=story position=forloop.counter %} 
      {% endfor %}
  {% else %}
  <p>No stories are available.</p>
  {% endif %}
</div>

<button><a href="{% url 'users:editProfile' %}">Edit Profile</a></button>

{% endblock %}