{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %} 

{% block content %}

<div class="profile-header">
<h2 id="prof-header-text">Welcome to { {{ customuser.username }}&#700;s } Page!</h2> 
</div>

<div class="user-profile-info">
  <ul class="user-input">
    <li><img src="{{ customuser.avatar }}" alt="avatar"></li>
    <li>Location: {{ customuser.location }}</li>
    <li>Follow { {{ customuser.username }} } Here: {{ customuser.social_media_link }}</li>
  </ul>

  <h4 id="about-title">About {{ customuser.username }}:</h4>
  <p id="bio">
    {{ customuser.bio }}
  </p>
</div>

{% if request.user == customuser %}
  <button><a href="{% url 'users:editProfile' %}">Edit Profile</a></button>
{% else %}
{% endif %}

<div class="user-add-story">
  You can write new stories to be shared with other users here:
  </br>
  <button><a href="{% url 'news:newStory' %}">!! Write New Story !!</a></button>
</div>

<div class="profile-stories">
  <h3>Your Story History:</h3>
  {% if customuser.newsstory_set.all %} 
    {% for story in customuser.newsstory_set.all %} 
      {% include "news/storyCard.html" with story=story position=forloop.counter %}
      {% endfor %}
  {% else %}
    <p>No stories are available.</p>
  {% endif %}
</div>

</br>

{% comment %} {% if request.user == customuser %}
  <button><a href="{% url 'users:editProfile' %}">Edit Profile</a></button>
{% else %}
{% endif %} {% endcomment %}

{% endblock %}