<div class="story-card" id="story-card-{{ position }}">
    {% comment %} {% if request.user puts in url %} {% endcomment %}
    {% comment %} <img src="{{ newsstory.image }}" alt="image"> {% endcomment %}

    {% comment %} if there is an image url then "display url image" {% endcomment %}
    
    {% if position < 5 %}
    <img src="/static/news/images/placeholder-{{ position }}.jpg" />
    {% else %}
    <img src="https://picsum.photos/600" />
    {% endif %}

    <div class="story-card-text">
      <h3><a href="{% url 'news:story' story.id %}">{{ story.title }}</a></h3>
      <h4><a href="{% url 'users:profile' story.author.id %}">{{ story.author }}</a></h4>
      <h4>{{ story.pub_date }}</h4>
    </div>
</div>
